{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":4,"column":5},"action":"insert","lines":["Flask","pylint","locust","psycopg2-binary ","black"],"id":1}],[{"start":{"row":3,"column":0},"end":{"row":4,"column":0},"action":"remove","lines":["psycopg2-binary ",""],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":3,"column":5},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1693584996424,"hash":"0610edd43d944677bd1880e6f4da75d720140829"}